.heading-display {
    font-size: 14px;
    line-height: 14px;
    font-weight: bolder;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-bottom: 1px solid #cfd8dc;
}

.comin-soon {
    display: flex;
    font-size: 18px;
    line-height: 18px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    height: 100%;
}